@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-one: 'Poppins',
    sans-serif;
  --font-two: 'Roboto',
    sans-serif;


  --clr-bg: #FFFFFF;
  --clr-blue: #5E63BA;
  --clr-grey: #7F7F7F;
  --clr-text-black: #000000;
  --clr-text-light: #2C3E50;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text-black);
  font-size: 1rem;
  font-family: var(--font-one);
}

a {
  text-decoration: none;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
}

h2 {
  padding: 1rem 0;
  font-weight: 400;
}

.input-actions {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--clr-grey);
}

.input {
  display: flex;
  gap: 10px;
}

.input label {
  font-size: 0.9rem;
  font-weight: 500;
}

.dropdown i {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 39%;
  left: 18%;
  transform: translate(-39%, -18%);
  z-index: 999;
}

.dropdown-content a {
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  margin-top: 2px;
  font-size: 0.8rem;
  color: var(--clr-text-black);
  background-color: gainsboro;
  cursor: pointer;
}

.input input {
  width: 200px;
  height: 30px;
  padding: 5px 8px;
  border: 1.5px solid var(--clr-grey);
  border-radius: 4px;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.actions h4 {
  height: fit-content;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--clr-bg);
  background-color: var(--clr-blue);
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.output-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.output-title h4 {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--clr-text-black);
  background-color: gainsboro;
  padding: 4px 6px;
  cursor: pointer;
}

/* FORMS */
.form.add-vehicle {
  display: none;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form.add-vehicle h2 {
  text-align: center;
  margin-bottom: 20px;
}

span {
  position: absolute;
  top: 6%;
  right: 6%;
  transform: translate(-6%, -6%);
}

span i {
  font-size: 20px;
  font-weight: 100;
  color: #333;
  cursor: pointer;
}

.form.add-vehicle form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form.add-vehicle label {
  font-weight: 500;
}

.form.add-vehicle select,
.form.add-vehicle input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form.add-vehicle input[type="text"] {
  box-sizing: border-box;
}

.form.add-vehicle input[type="submit"] {
  cursor: pointer;
  background-color: #5E63BA;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}